<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
	integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
	crossorigin="anonymous">
<link rel="stylesheet" href="/css/zzin.css">
<title>Talk-to-Talk</title>

</head>

<body class="home" style="overflow: auto;">
	
   <div id="navi">
      <a href="/"><img id="logo" alt="Talk To Talk" src="/images/logo/logo_pink.png"></a>
      <div class="navbar-collapse">
         <a th:href="@{/account/regist}" sec:authorize="!isAuthenticated()">
         	<span class="glyphicon glyphicon-user"></span> 회원가입</a>&nbsp &nbsp
         <a th:href="@{/account/login}" sec:authorize="!isAuthenticated()">
         	<span class="glyphicon glyphicon-log-in"></span> 로그인</a>
		<form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="POST">
			<span style="color:white" th:text="${session.nickname}">사용자</span>
			<span style="color:white">님 안녕하세요!</span>
			<button type="submit">로그아웃</button>
		</form>
      </div>
   </div>

   <div id="chatting" class="sign">
      <a href="/chat" name="enterbtn"><span class="fast-flicker">T</span>alk To T<span class="flicker">a</span>lk</a>
   </div>

	<script src="http://code.jquery.com/jquery-3.3.1.min.js"
		integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.0/js.cookie.min.js"></script>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</body>

</html>