<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Talk-to-Talk</title>

</head>

<body style="overflow: auto;">

	<div role="navigation">
		<div
			class="navbar navbar-inverse navbar-expand-sm bg-dark navbar-dark">
			<a href="/" class="navbar-brand">Talk-to-Talk</a>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/regist"><span class="glyphicon glyphicon-user"></span> 회원가입</a></li>
					<li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> 로그인</a></li>
				</ul>
			</div>
		</div>
	</div>
	
</body>
	
	

</html>